// <======= VARIABLES =======>  
$primary:       #0065fc;
$secondary:     #e0edff;
$tertiary :     #f2f2f2;

$padding-inline: 5vw;

// responsive
$min-width-desktop:  992px;
$max-width-tablet:  991px;
$max-width-mobile:  767px;

$grid-card-gap : 1.5rem;
