/* <======= FILTER =======>  */

.filter {
    display: flex;
    align-items: center;
    gap: 15px;

    &__title {
        font-size: 1.1rem;
    }
    &__content{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 15px;
    }
}
.filter-btn {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;

    &__icon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        color: $primary;
        background-color: $secondary;
        border-radius: 50%;
    }
    &__text {
        padding-left: 0.5rem;
        padding-right: 1rem;
        user-select: none;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
    }
    &__checkbox {
        height: 0;
        width: 0;
        visibility: hidden;
        &:checked +  label {
            color: $primary;
            &::after {
                transform: translateX(0);
            }
        }
    }
    label {
        position: relative;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        height: 52px;
        border-radius: 50px;
        overflow: hidden;
        cursor: pointer;
        &::before, &::after {
            content: '';
            position: absolute;
            inset: 0;
            border-radius: inherit;
        }
        &::before {
            z-index: -2;
            border: 2px solid $secondary;
        }
        &::after {
            z-index: -1;
            background-color: $secondary;
            transform: translateX(-100%);
            transform-origin: left;
            transition: transform .5s;
        }
        .filter-btn input:checked + label::after {
            transform: translateX(0);
        }
    }
}


/*.filter {
    display: flex;
    align-items: center;
    gap: 15px;
}
.filter-content{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
}
.filter-btn {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.filter-btn input[type=checkbox] {
    height: 0;
    width: 0;
    visibility: hidden;
}
.filter-btn label {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 52px;
    border-radius: 50px;
    overflow: hidden;
    cursor: pointer;
}
.filter-btn input:checked +  label {
    color: var(--blue);
}
.filter-btn label::before, .filter-btn label::after {
  content: '';
  position: absolute;
  inset: 0;
  border-radius: inherit;
}
.filter-btn label::before {
    z-index: -2;
    border: 2px solid #ebebeb;
}
.filter-btn label::after {
    z-index: -1;
    background-color: #e0edff;
    transform: translateX(-100%);
    transform-origin: left;
    transition: transform .5s;
}
.filter-btn input:checked + label::after {
    transform: translateX(0);
}
.filter-btn__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    color: var(--blue);
    background-color: #deebff;
    border-radius: 50%;
}
.filter-btn__text {
    padding-left: 0.5rem;
    padding-right: 1rem;
    user-select: none
}
*/