.split-sections {
    display: flex;
    justify-content: space-between;
    gap: 48px 32px;
    width: 100%;
}
.section {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1.5rem;

    &__content {
        position: relative;
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        gap: 24px;
    }
    &__title {
        font-size: 1.1rem;
    }
}

/* <======= ACCOMODATIONS =======>  */
.accomodations {
    flex: 2;
}

/* <======= POPULAR =======>  */
.popular {
    flex: 1;
}